{% extends "base.jinja" %}

{% block content %}
    <div class="row">
        <div id="content" class="col-lg-9 order-2 order-lg-1">
            {{ content | update_classes('h1', 'display-5 fw-bold')
                       | update_classes('h2', 'display-6')
                       | update_classes('h2, h3, h4, h5, h6', 'mt-5 mb-3 fw-bold')
                       | update_classes('img', 'd-block mx-auto mw-100 h-100')
            }}
        </div>
        <div id="toc" class="col-lg-3 order-1 order-lg-2 ps-5 fs-6">
            <strong class="d-block py-1 my-2 border-bottom"><span class="iconify" data-icon="gridicons:list-ordered"></span> Table of content</strong>
            {{ toc | update_classes('a', 'text-decoration-none') }}
        </div>
    </div>
    <div class="row">
        <div id="star-footer" class="col-lg-9 text-center my-3">
            <a class="github-button" href="https://github.com/4l1fe/4l1fe.github.io" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star 4l1fe/4l1fe.github.io on GitHub">Give it a star</a>
            <br>
            <span class="iconify fs-3 my-3 text-secondary" data-icon="bi:box-arrow-in-up"></span>
        </div>
    </div>
    <div class="row">
        <div id="comments" class="col-lg-9">
            <script src="https://utteranc.es/client.js"
                    repo="4l1fe/4l1fe.github.io"
                    issue-term="pathname"
                    label="comment"
                    theme="github-light"
                    crossorigin="anonymous"
                    async>
            </script>
        </div>
    </div>

{% endblock content %}
