{% extends "base.jinja" %}

{% block content %}
    <div class="row">
        <div id="about" class="col-12">
            <h1 class="fw-bold">About</h1>
            <p>Observe existence <span class="iconify" data-icon="fa-solid:eye"></span>, drink tea <span class="iconify" data-icon="fa:coffee"></span>, experiment <span class="iconify" data-icon="icon-park-solid:experiment"></span>, cognize <span class="iconify" data-icon="fa-solid:pen-alt"></span></p>
	</div>
    </div>
    <div class="row mt-2">
        {% if memocards_enabled or analytics_enabled or monitoring_enabled or statuspage_enabled %}
	<div id="services" class="col-sm-12 col-md-12 col-lg-6 mb-3">
            <h2 class="card-title mb-0 fw-bold">Live services</h2>
            <small>Click and test it out</small>
            <ul class="list-group list-group-flush">
                {% if memocards_enabled %}
                <li class="list-group-item border-0 ps-0">
                    <a class="{% if track_analytics %}umami--click--services-memo{% endif %}" target="_blank" rel="noopener noreferrer" href="{{ memocards_service_address }}">Memo cards <span class="iconify" data-icon="foundation:clipboard-pencil"></span></a>
                    <br><small class="text-dark">Service helps to memorize and repeat words to enrich a vocubalary.</small>
                </li>
                {% endif %}
                {% if analytics_enabled %}
                <li class="list-group-item border-0 ps-0">
                    <a class="{% if track_analytics %}umami--click--services-analytics{% endif %}" target="_blank" rel="noopener noreferrer" href="{{ analytics_service_page }}">Analytics <span class="iconify" data-icon="fa6-solid:chart-simple"></span></a>
                    <br><small class="text-dark">Web analytics <strong>Umami</strong>. Tracking page views and link clicks.</small>
                </li>
                {% endif %}
                {% if monitoring_enabled %}
                <li class="list-group-item border-0 ps-0">
                    <a class="{% if track_analytics %}umami--click--services-monitoring{% endif %}" target="_blank" rel="noopener noreferrer" href="{{ monitoring_service_page }}">Monitoring <span class="iconify" data-icon="fontisto:area-chart"></span></a>
                    <br><small class="text-dark">Monitoring resources With <strong>Grafana</strong> consumed by live service containers.</small>
                </li>
                {% endif %}
                {% if statuspage_enabled %}
                <li class="list-group-item border-0 ps-0">
                    <a class="{% if track_analytics %}umami--click--services-statuspage{% endif %}" target="_blank" rel="noopener noreferrer" href="{{ statuspage_service_page }}">Status Page <span class="iconify" data-icon="akar-icons:circle-check-fill"></span></a>
                    <br><small class="text-dark">Check for the live services are running.</small>
                </li>
                {% endif %}
            </ul>
	</div>
        {% endif %}
        <div id="profiles" class="col-sm-6 col-md-6 col-lg-3 mb-3">
            <h2 class="card-title mb-0 fw-bold">Profiles</h2>
            <small>Public info</small>
            <ul class="list-group list-group-flush">
                <li class="list-group-item border-0 ps-0"><a class="me-1 {% if track_analytics %}umami--click--profiles-github{% endif %}" target="_blank" rel="noopener noreferrer" href="https://github.com/4l1fe">Github <span class="iconify" data-icon="fa-brands:github"></span></a></li>
                <li class="list-group-item border-0 ps-0"><a class="me-1 {% if track_analytics %}umami--click--profiles-linkedin{% endif %}" target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/dmitrii-krasnov">Linkedin <span class="iconify" data-icon="brandico:linkedin-rect"></span></a></li>
                <li class="list-group-item border-0 ps-0"><a class="me-1 {% if track_analytics %}umami--click--profiles-stackexchange{% endif %}" target="_blank" rel="noopener noreferrer" href="https://stackexchange.com/users/5761123/r45i?tab=accounts">Stackexchange <span class="iconify" data-icon="fa-brands:stack-exchange"></span></a></li>
                <li class="list-group-item border-0 ps-0"><a class="me-1 {% if track_analytics %}umami--click--profiles-telegram{% endif %}" target="_blank" rel="noopener noreferrer" href="https://t.me/kvdm_dev">Telegram <span class="iconify" data-icon="fa:telegram"></span></a></li>
            </ul>
        </div>
        <div id="photo" class="col-sm-6 col-md-6 col-lg-3 mb-3">
            <img src="files/photo.jpg" class="img-fluid rounded">
        </div>            
    </div>

    {% macro wrap_if_selected(text, wrapped_view) -%}
        {%- if selected_view == wrapped_view -%}
            {{ text }}<span class="iconify" data-icon="bi:arrow-left-short"></span>
        {%- else -%}
            {{ text }}
        {%- endif %}
    {%- endmacro %}

    <div class="row mt-4">
        <div class="col-12">
            <h2 class="d-inline me-2 fw-bold">Articles</h2>
            <a class="me-1 {% if track_analytics %}umami--click--articles-subscribe{% endif %}" href="rss.xml">Subscribe <span class="iconify" data-icon="bi:rss-fill"></span></a>
            <ul class="list-inline mt-1 mb-3 fs-6">
                <li class="list-inline-item text-muted">Select a view</li>
                <li class="list-inline-item"><a href="/">{{ wrap_if_selected("Titles", IndexViewEnum.default) }}</a></li>
                <li class="list-inline-item"><a href="/views/preview">{{ wrap_if_selected("Previews", IndexViewEnum.preview) }}</a></li>
                <li class="list-inline-item"><a href="/views/summary">{{ wrap_if_selected("LLM Summaries", IndexViewEnum.summary) }}</a></li>
            </ul>
        </div>
    </div>

    {% set view_ns = namespace(article_row_mb = "mb-2") %}
    {% if selected_view == IndexViewEnum.preview %}
        {% set view_ns.article_row_mb = "mb-5" %}
    {% endif %}

    {% for adata in articles_data %}
    <div class="row row-article {{ view_ns.article_row_mb }}">
        <div class="col-lg-10">
            <h3 class="fs-4 fw-light"><a class="link-dark" href="{{ adata.relative_link | trailing_slash }}">{{ adata.title }}</a></h3>
        </div>

        <div class="col-lg-2 text-lg-start">
            <p class="text-muted"><span class="iconify me-1" data-icon="ic:round-date-range"></span>{{ adata.created_date.strftime("%m-%Y") }}</p>
        </div>

        {% if selected_view == IndexViewEnum.preview %}
        <div class="col-lg-10">
            <div class="row">
                <div class="col-lg-3 col-4">
                    <img src="{{ view_data[adata.created_date]['main_thumbnail'] }}" class="img-fluid">
                </div>
                <div class="col-lg-9 col-8">
                    {% for thumbnail_link in view_data[adata.created_date]['thumbnails'] %}
                    <img src="{{ thumbnail_link }}" class="img-fluid">
                    {% endfor %}
                </div>
            </div>
        </div>

        {% elif selected_view == IndexViewEnum.summary %}
        <div class="col-lg-10">
            <p class="fs-6 text-muted mb-1"><small><span class="iconify" data-icon="ph:cube-fill"></span> Generated by ChatGPT</small></p>
            <div class="border-start">
                <p class="fs-6 lh-sm ps-3">{{ view_data[adata.created_date] }}</p>
            </div>
        </div>
        {% endif %}
    </div>
    {% endfor %}

{% endblock content %}
