<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:image="http://www.google.com/schemas/sitemap-image/1.1">
  {% for adata in articles_data %}
  <url>
    <loc>{{ adata.relative_link | prepend_site_address | trailing_slash}}</loc>
    <image:image>
        <image:loc>{{ adata.img_relative_link | prepend_site_address }}</image:loc>
    </image:image>
    {% for image in adata.images %}
    <image:image>
        <image:loc>{{ image.relative_link | prepend_site_address }}</image:loc>
        <image:title>{{ image.title }}</image:title>
    </image:image>
    {% endfor %}
  </url>
  {% endfor %}
</urlset>