@font-face {
  font-family: Terminus;
  src: url('Terminus.woff2');
}
@font-face {
  font-family: RML;
  src: url('RobotoMono-Light.woff2');
}
@font-face {
  font-family: RMM';
  src: url('RobotoMono-Medium.woff2');
}
body {
    font-family: 'RML';
}
h1,h2,h3,h4,h5 {
    font-family: 'RMM';
}
a {
    color: #920000
}
a:hover, a:focus {
    color: #b92929;
    text-decoration: underline;
    text-decoration-line: underline;
    text-decoration-thickness: initial;
    text-decoration-style: initial
}
a.link-dark {
    color: #212529;
}
a.link-dark-hover:hover {
    color: #6c757d;
}
#toc a {
    color: #6c757d;
}
#toc a:hover {
    color: #212529;
}
pre {
    padding: 1em;
    border-style: solid !important;
    border-width: 1px !important;
    border-image: initial !important;
    border-radius: .5rem;
    background-color: #000000;
    color: #ffffff
}
pre code {
    font-family: 'Terminus';
}
:not(pre) > code {
    font-family: 'Terminus';
    padding: .1em .5em .1em .5em;
    border-color: #dee2e6 !important;
    border-style: solid !important;
    border-width: 1px !important;
    border-radius: .25rem;
    background-color: #f0f0f0;
    color: #000000
}
img {
    padding: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .5rem;
    max-width: 100%;
    height: auto;
}
td > img {
    border: 0px;
}
table {
    margin-bottom: 1rem;
}
thead {
    background-color: #bdbdbd;
}
th, td {
    padding: .5rem;
    border-color: #dee2e6;
    border-style: solid;
    border-width: 1px;
}
#about ul {
    list-style: none;
}
#toc > ol {
    position: sticky;
    top: 80px;
}
#content > p > img {
  display: block;
  margin-left: auto;
  margin-right: auto;;
}

